<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Profile</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="header">
        <div class="logo">Health Information System</div>
        
    </div>
<div class="dashboard-container">
    <div class="sidebar">
        <h3>Health System</h3>
        <a th:href="@{/dashboard}">Dashboard</a>
        <a th:href="@{/clientform}">Register Client</a>
        <a th:href="@{/clientlist}">View Clients</a>
        <a th:href="@{/healthPrograms}">Create Program</a>
    </div>
<div class="container">
    <h2>Client Profile</h2>

    <p><strong>Name:</strong> <span th:text="${client.clientName}"></span></p>
    <p><strong>Age:</strong> <span th:text="${client.age}"></span></p>
    <p><strong>Contact:</strong> <span th:text="${client.phoneNumber}"></span></p>

    <h3>Enrolled Programs</h3>
    <ul>
        <li th:each="healthProgram : ${healthPrograms}" th:text="${healthProgram.healthProgramName}"></li>
    </ul>
<!--th:href="@{'/clients/' + ${client.id} + '/enroll'}"-->
    <a >
        <button>Enroll in More Programs</button>
    </a>
</div>
</body>
</html>
