<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Health Program</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/health.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">Health Information System</div>
        
    </div>
<div class="dashboard-container">
    <div class="sidebar">
        <h3>Health System</h3>
        <a th:href="@{/dashboard}">Dashboard</a>
        <a th:href="@{/clientform}">Register Client</a>
        <a th:href="@{/clientlist}">View Clients</a>
        <a th:href="@{/healthPrograms}">Create Program</a>
    </div>
<div class="container">
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
        <button class="error-btn" onclick="closeMessage('error-message')">OK</button>
    </div>
    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
        <button class="success-btn" onclick="closeMessage('success-message')">OK</button>
    </div>
    <h2>Create Health Program</h2>
    <form th:action="@{/saveHealthProgram}" th:object="${healthProgram}" method="post">
        <label for="name" class="form-label">Program Name</label>
        <input type="text" th:field="*{healthProgramName}" id="name" required />

        <label for="description" class="form-label">Program Description</label>
        <textarea th:field="*{description}" id="description" rows="3" required></textarea>

        <button type="submit">Create Program</button>
    </form>
</div>
</body>
</html>
